*.synctex.gz
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
_minted/
/reports/L1/out/
.DS_Store
.idea
/presentations/L1/src/beamerTemplate.pdf
/presentations/L1/src/beamerTemplate.synctex.gz
/presentations/L1/out/
.junie
__pycache__/
