*.synctex.gz
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
_minted/
/reports/L1/out/
.DS_Store
.idea
/presentations/L1/src/beamerTemplate.pdf
/presentations/L1/src/beamerTemplate.synctex.gz
/presentations/L1/out/
.junie
__pycache__/
/reports/L2/out/
/main_local.pdf
/code/L1/tmp.py
/code/L1/tmp.py.bak
/code/L1/tmp_notebook.ipynb
/code/L1/.ipynb_checkpoints/tmp_notebook-checkpoint.ipynb
