/reports/L1/src/main.pdf
/reports/L1/src/main.synctex.gz
/reports/L1/out/main.aux
/reports/L1/out/main.bbl
/reports/L1/out/main.blg
/reports/L1/out/main.fdb_latexmk
/reports/L1/out/main.fls
/reports/L1/out/main.log
/reports/L1/out/main.toc
/reports/L1/out/
